.mat-toolbar-row, .mat-toolbar-single-row {
  height: 5%;
  background-color: rgba(221, 219, 218, 0.801);
  background-image: url(/assets/images/627d1698-728e-498b-8a5f-b61911d6f7e8.png) 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 3px solid black;
  box-shadow: 3px 0 20px #000000;
}




