<div class="container mat-elevation-z4">
  <mat-card>
    <div *ngIf="formVisibility">
      <app-add-checkout></app-add-checkout>
    </div>
    <mat-card-content *ngIf="!formVisibility">
      <a mat-button color="primary" (click)="showForm()">Add Checkout</a>
      <div class="custom-select-container">
        <mat-label>Page Size:</mat-label>
        <mat-select [(ngModel)]="size">
          <mat-option *ngFor="let sizeOption of pageSizes" [value]="sizeOption"
            (click)="getCheckouts()">{{sizeOption}}</mat-option>
        </mat-select>
      </div>
      <mat-card-title>Checkouts</mat-card-title>
      <mat-nav-list *ngIf="(checkouts$ | async) as checkouts">
        <a mat-list-item *ngFor="let checkout of checkouts.content" [routerLink]="['/checkouts', checkout.id]">
          {{checkout.borrowedBook.title}}
        </a>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
  <mat-nav-list class="nav-buttons" *ngIf="!formVisibility">
    <button mat-raised-button (click)="prevPage()" [disabled]="currentPage == 0">Previous</button>
    <button mat-raised-button (click)="nextPage()">Next</button>
  </mat-nav-list>
</div>