<div class="table-container">
    <table class="table">
        <thead >
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Year</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="!changeable"> 
                <td>{{bookUpdates.title}}</td>
                <td>{{bookUpdates.author}}</td>
                <td>{{bookUpdates.genre}}</td>
                <td>{{bookUpdates.year}}</td>
                <td >{{bookUpdates.status}}</td>
            </tr>
            <tr *ngIf="changeable">
                <td>
                    <input matInput [(ngModel)]="bookUpdates.title" type="text">
                </td>
                <td>
                    <input matInput [(ngModel)]="bookUpdates.author" type="text">
                </td>
                <td>
                    <input matInput [(ngModel)]="bookUpdates.genre" type="text">
                </td>
                <td>
                    <input matInput [(ngModel)]="bookUpdates.year" type="number">
                </td>
                <td>
                <mat-select [(ngModel)]="bookUpdates.status" >
                    <mat-option *ngFor="let status of bookStatuses" [value]="status.value">{{status.label}}</mat-option>
                </mat-select>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="management-buttons">
        <a [innerText]="message" [routerLink]="['/checkouts']" class="deletionSuccess"></a>
        <button mat-raised-button (click)="checkout()" [disabled]="bookUpdates.status != 'AVAILABLE'">Checkout</button>
        <button mat-raised-button (click)="isChangeable()">{{changeable ? 'Save' : 'Edit'}}</button>
        <button mat-raised-button (click)="deleteBook()">Delete</button>
    </div>
</div>
