.container {
    max-width: 1024px;
    margin: 2em auto;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30%;

    button {
      margin-top: 2%;
      margin-left: 33%;
      max-width: 33%;
    }
  }
  .nav-buttons {
    display: flex;
    justify-content: center;
  }

  .title {
    display: flex;
    justify-content: center;
  }

  table { 
    display: flex;
    flex-direction: column;
  }